# Компилятор и линковщик
*.o
*.obj
*.a
*.lib
*.so
*.dll

# Выходные данные компилятора
*.exe
*.out
*.elf

# Временные файлы
*.tmp
*.bak

# Файлы конфигурации
cmake/*
build/*

# Тестовые файлы
tests/*

# Зависимости (например, для библиотеки Boost)
boost/*

# Прочие файлы, которые не нужно отслеживать
*.log
*.d
*.suo
*.sln
.vscode/